@model IEnumerable<BeFit.Models.Statystyki>

<h2>Statystyki użytkownika</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().TypĆwiczenia)</th>
            <th>@Html.DisplayNameFor(m => m.First().LiczbaWykonań)</th>
            <th>@Html.DisplayNameFor(m => m.First().ŁącznaLiczbaPowtórzeń)</th>
            <th>@Html.DisplayNameFor(m => m.First().ŚrednieObciążenie)</th>
            <th>@Html.DisplayNameFor(m => m.First().MaksymalneObciążenie)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var statystyka in Model)
        {
            <tr>
                <td>@statystyka.TypĆwiczenia</td>
                <td>@statystyka.LiczbaWykonań</td>
                <td>@statystyka.ŁącznaLiczbaPowtórzeń</td>
                <td>@statystyka.ŚrednieObciążenie.ToString("F2")</td>
                <td>@statystyka.MaksymalneObciążenie.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>
